{% extends "base.html" %}
    {% block content %}
  <div >
    <h4>Delete request</h4>
    <form method="post" id="trackForm"   protocols-url="{% url 'ajax_load_protocols' %}" >
        {% csrf_token %}

            <div >
                <table>
                    <tr>
                        <td>
                            <label for="id_project">Project</label>
                        </td>
                        <td>
                            {{ form.project }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Protocol</label>
                        </td>
                        <td>
                            {{ form.protocol }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Requestor</label>
                        </td>
                        <td>
                            {{ form.requestor }}
                        </td>
                    </tr>
                    <tr>
                        <td >
                            <label>Approver</label>
                        </td>
                        <td >
                            {{ form.approver }}
                        </td>
                    </tr>
                    <tr>
                        <td >
                        </td>
                        <td align="center" style="padding-top: 10px;">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </td>
                    </tr>
                </table>

            </div>



    </form>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
    $("#id_project").change(function () {
      var url = $("#trackForm").attr("protocols-url");
      var productId = $(this).val();

      $.ajax({
        url: url,
        data: {
          'protocols': productId
        },
        success: function (data) {
          $("#id_protocol").html(data);
        }
      });

    });
  </script>

{% endblock %}